/* src/Cart.css */
.box1{
  background-color: rgb(227, 227, 198);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #080707;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #080202;
  color: aliceblue;
}

input[type="number"] {
  width: 60px;
  text-align: center;
}
